<mat-toolbar color="accent" class="flex justify-content-between">
  <div class="ml-20 flex-grow">
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item><a [routerLink]="['/goods-table']">Products Table</a></button>
      <button mat-menu-item><a [routerLink]="['/login']">Login</a></button>
      <button mat-menu-item><a [routerLink]="['/']">Goods List</a></button>
    </mat-menu>
    <span class="ml-5 mt">Smth Idk</span>
  </div>
  <button class="mr-12" mat-stroked-button><a [routerLink]="['/login']">Login</a></button>
</mat-toolbar>
<router-outlet></router-outlet>
